{% extends 'base.html' %}

{% block content %}
    <!-- Heading -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="https://i.imgur.com/Oyp81gz.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Shopping List Page
            </a>
            <span class="navbar-text">
                user: {{name}}
            </span>
            <span class="navbar-text">
                kelas: {{class}}
            </span>
        </div>
    </nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Date Added</th>
    </tr>
  </thead>
  <tbody>
    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
    <tr>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.date_added}}</td>
        <td>
                <a href="{% url 'main:edit_product' product.pk %}">
                    <button>
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<!-- <table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.description}}</td>
            <td>{{product.date_added}}</td>
            <td>
                <a href="{% url 'main:edit_product' product.pk %}">
                    <button>
                        Edit
                    </button>
                </a>
                <a href="{% url 'main:delete_product' product.pk %}">
                    <button>
                        Delete
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table> -->

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Product
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<div class="d-flex justify-content-start mt-3">
    <form>
        <a href="{% url 'main:logout' %}">
            <button type="button" class="btn btn-primary btn-sm">Logout</button>
        </a>
    </form>
</div>


{% endblock content %}